/* For navbar */
.navbar {
    background-color: rgb(119, 34, 69);
    box-shadow: 0 5px 10px rgb(53, 5, 29);
    text-transform: uppercase;
}
.nav-link:hover {
    background-color: rgb(177, 78, 119);
}
#loginButton:hover {
    background-color: rgb(224, 223, 223);
}

/* For landing */
.landing {
    background-image: linear-gradient(135deg,rgb(168, 82, 82), rgb(68, 8, 70));
    height: 100vh;
}
.content {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
}
.landing h4 {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: .1rem;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
}
.landing h1 {
    font-size: 3.6rem;
    font-weight: 200;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .2);
    padding: 1.8rem 0;
}
/* get started button */
a.btn {
    margin: 30px 10px;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
}
a.btn-first {
    background-color: rgb(189, 63, 105);
    color: rgb(0, 0, 0);
}
a.btn:hover {
    background: rgb(139, 68, 139);
    box-shadow: 2px 2px 10px;
    transition: 0.5s;
}
/* get action buttons */
a.btn-second {
    margin: 10px 10px;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
}
a.btn-second {
    background-color: rgb(189, 63, 105);
    color: rgb(0, 0, 0);
}
a.btn-second:hover {
    background: rgb(139, 68, 139);
    box-shadow: 2px 2px 10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(119, 34, 69);
    color: white;
}

/*table scroll*/

thead {
    position: sticky;
}
.container {
    max-height: 335px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;  /*Chrome*/
}

.container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}